version: 2

updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    rebase-strategy: auto
    groups:
      all-minor-patch-updates:
        patterns:
          - "*"
        update-types: 
          - "minor"
          - "patch"
      all-major-updates:
        patterns:
          - "*"
        update-types: 
          - "major"
    ignore:
      - dependency-name: "mxnet"
        # For mxnet, ignore all updates for version 1.7 and 1.8 since they failed to install on windows
        versions: ["1.7.x", "1.8.x"]
      - dependency-name: "jupyterlab"
        versions: [">=4.2"]