# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Database logs
*trace.db
*.log
*.zip

# Data files
01-atoti-academy/introduction-to-atoti/*.csv
02-technical-guides/aggregate-provider/data/
02-technical-guides/conditional-functions/data/
02-technical-guides/directquery-vector/data/
02-technical-guides/rollup-hierarchies/*.csv
02-technical-guides/observability-with-otel/data*/
02-technical-guides/observability-with-otel/logs/
02-technical-guides/observability-with-otel/otel-stack/config/tempo-data*/
02-technical-guides/observability-with-otel/opentelemetry-javaagent*
02-technical-guides/var-benchmark/dataset.*
03-use-cases/01-finance/front-office/real-time-risk/dynamic-input-files/
03-use-cases/01-finance/portfolio-management/cvar-optimizer/data/
03-use-cases/01-finance/risk-management/operational-risk/credit-card-fraud-detection/output/*.csv
03-use-cases/01-finance/risk-management/credit-risk/ifrs9/lending-club-data/risk-engine/*.csv
03-use-cases/01-finance/risk-management/credit-risk/xva/data-prev/*.csv
03-use-cases/01-finance/risk-management/credit-risk/xva/data/*.csv
03-use-cases/01-finance/risk-management/credit-risk/xva/what-if/*.csv
03-use-cases/01-finance/risk-management/credit-risk/ifrs9/lending-club-data/*.csv
03-use-cases/01-finance/retail-banking/credit-card-analytics/data/

# Extensions
!03-use-cases/01-finance/risk-management/operational-risk/credit-card-fraud-detection/atoti-pycaret/source.zip
!03-use-cases/01-finance/portfolio-management/alt-data/ui/source.zip
!03-use-cases/01-finance/portfolio-management/cvar-optimizer/ui/source.zip
!03-use-cases/03-community-fun/pokemon/extensions/source.zip

# Misc
.DS_Store
node_modules
projects/french-presidential-election/.vscode/settings.json