# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Database logs
*trace.db
*.log
*.zip

# Data files
02-technical-guides/aggregate-provider/data/
02-technical-guides/conditional-functions/data/
02-technical-guides/rollup-hierarchies/*.csv
03-use-cases/01-finance/risk-management/operational-risk/credit-card-fraud-detection/output/*.csv
03-use-cases/01-finance/risk-management/credit-risk/ifrs9/lending-club-data/risk-engine/*.csv
03-use-cases/01-finance/risk-management/credit-risk/xva/data-prev/*.csv
03-use-cases/01-finance/risk-management/credit-risk/xva/data/*.csv
03-use-cases/01-finance/risk-management/credit-risk/xva/what-if/*.csv
03-use-cases/01-finance/risk-management/credit-risk/ifrs9/lending-club-data/*.csv
03-use-cases/01-finance/retail-banking/data/


# Misc
.DS_Store
node_modules
projects/french-presidential-election/.vscode/settings.json
