name: Test
on: [pull_request]

jobs:
  test:
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'dnb') }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python: ["3.10"]
        node-version: [16.x]
      fail-fast: false
    name: Test on ${{ matrix.os }} with Python ${{ matrix.python }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          architecture: x64
          python-version: ${{ matrix.python }}

      - name: Install uv
        run: pip install uv

      - name: Create virtual environment and install Python dependencies
        run: uv venv && uv pip install -r pyproject.toml && uv pip list

      - name: Run ruff
        run: uv run ruff format --check .

      - name: Run notebooks
        run: uv run python tests/execute_notebooks.py
